<div class="col-lg-2">
      <div class="list-group">
        <%= link_to '<i class="fa fa-envelope"></i> Posteingang'.html_safe, conversations_path, :class => 'list-group-item' %>
        <%= link_to '<i class="glyphicon glyphicon-send"></i> Postausgang'.html_safe, conversations_path(:partial => 'conversations/sent'), :class => 'list-group-item' %>
        <%= link_to '<i class="fa fa-trash-o"></i> Peniseingang'.html_safe, conversations_path(:partial => 'conversations/trash'), :class => 'list-group-item' %>
      </div>
    </div>
