<div class="container">
  <div class="jumbotron">
    <h1>Koala Management!</h1>
    <p>Sie verbringen mehr Zeit damit ihr Team im Griff zu halten als mit der Arbeit selbst?</p>
    <p>Dann sollten Sie uns kennenlernen!</p
   <p>
    <%= link_to 'Jetzt registrieren!', new_user_registration_path, :class => "btn btn-primary btn-lg"%>
   </p>
  </div>
</div>