<h1>Current Projects</h1>
 
 <%= link_to 'Create New Project', new_project_path %>
 <br>
 <br>
 
<table> 
  <% @projects.each do |project| %>
    <tr>
      <td><%= link_to project.name, project_path(project) %></td>
    </tr>
  <% end %>
</table>


