<h1>Current Projects</h1>
 

-------------------------------
<table> 
  <% @projects.each do |project| %>
    <tr>
      <td>
		<%= link_to project.name, project_path(project) %>
		<br>-------------------------------
      </td>
    </tr>
  <% end %>
</table>

 <%= link_to 'Create New Project', new_project_path %>
 
