/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree
 *= require bootstrap-datepicker
 */

/* User sign in and sign forms. */

.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 100px auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}

.border-form-div .input-group{
  margin-bottom: 15px;
  padding: 7px 9px;
}

/* Add weak text color */
.text-weak {
  color: gray;
} 
a:active.text-weak,
a:visited.text-weak,
a:link.text-weak,
a:focus.text-weak {
  color: gray;
}

a:hover.text-weak  {
  color: dimgray;
}

a:active.black-link,
a:visited.black-link,
a:link.black-link,
a:focus.black-link {
  color: black;
}
a:hover.black-link {
  color: dimgray;
}


/* ShowUserBatch */
div.user-batch {
  margin-left: 5px;
  height: 30px;
  display:inline-block;
  background-color: lightgray;
  border-radius: 5px; 
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}
div.user-batch img.user-image {
  float: left !important;
  width: 30px;
  height: 30 px;
  border-radius: 5px;
}
div.user-batch div.user-name {
  vertical-align:middle;
  padding: 5px 10px 5px 40px;
}
div.panel-heading a{
  display: inline;
  color: #120000;
}

div.panel-heading > * {
    vertical-align:middle;  // Align children to middle of line
}

/* Border image */
div img.border-image {
  
}



