// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-title input{
  width: 50%;
}

.list-title input{
  width: 70%;
}

/*Priority highlighting */
div.priority-low {
  background-color: #3AAE3F;
}

div.priority-medium {
  background-color: gray;
}

div.priority-high {
  background-color: #DA4244;
}

div.priority {
  margin-top: -10px;
  margin-left: -15px;
  margin-right: -15px;
  height: 5px;
  width: auto;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

i.priority-low {
  color: #3AAE3F;
}

i.priority-medium {
  color: gray;
}

i.priority-high {
  color: #DA4244;
}

/* User batches */
.batch-task {
  position: relative;
  top: -23px;
}

.task-title {
  margin-bottom: -3px;
  margin-top: 10px;
}

.task-title a {
  display: inline;
  vertical-align: middle;
}

.panel-heading a.close {
  margin-right: 5px;
  margin-bottom: 10px;

}