// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-title input{
  width: 50%;
}

.list-title input{
  width: 70%;
}

i.priority-low {
  color: #3AAE3F;
}

i.priority-medium {
  color: gray;
}

i.priority-high {
  color: #DA4244;
}